name = "mail"
main = "src/worker.ts"
compatibility_date = "2025-12-01"
compatibility_flags = [ "nodejs_compat" ]

# 如果你想使用自定义域名，你需要添加 routes 配置
routes = [
  { pattern = "mail-t.tep-mail.org", custom_domain = true },
 ]

# 如果你想要部署带有前端资源的 worker, 你需要添加 assets 配置
#[assets]
 #directory = "../frontend/dist/"
 #binding = "ASSETS"
 #run_worker_first = true

# 如果你想要使用定时任务清理邮件，取消下面的注释，并修改 cron 表达式
# [triggers]
# crons = [ "0 0 * * *" ]

# 通过 Cloudflare 发送邮件
send_email = [
    { name = "SEND_MAIL" },
]

[vars]
# 邮箱名称前缀，不需要后缀可配置为空字符串或者不配置
PREFIX = ""
# 用于临时邮箱的所有域名, 支持多个域名
DOMAINS = ["tep-mail.org"]
# 用于生成 jwt 的密钥, jwt 用于给用户登录以及鉴权
JWT_SECRET = "xiyan219xiyansakura"

# admin 控制台密码, 不配置则不允许访问控制台
# ADMIN_PASSWORDS = ["xiyan219...", "sakura0.0"]

# 是否允许用户创建邮件, 不配置则不允许
ENABLE_USER_CREATE_EMAIL = true
# 允许用户删除邮件, 不配置则不允许
ENABLE_USER_DELETE_EMAIL = true

# D1 数据库的名称和 ID 可以在 cloudflare 控制台查看
[[d1_databases]]
binding = "DB"
database_name = "tep-mail" # D1 数据库名称
database_id = "b902bde1-607c-4f31-8619-97cae621e7d3" # D1 数据库 ID
